<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">
		<link rel="shortcut icon" type="image/x-icon" href="/scylla_ed/img/favicon.ico">
		<title>{PAGE_TITLE}</title>
		{CSS_CALLS}
		{OPENGRAPH}
		{MATOMO}
    <link rel="stylesheet" href="/theme/styles.css?{ASSETS_VERSION}" />
	</head>
	<body>
        <header id="header" class="container hidden-print">
          <a href="/"><img src="/scylla_ed/img/logo-horizontal.jpg" alt="Éditions Scylla"></a>
          <form class="header-search-form" action="/articles/search">
            <input type="search" class="form-control search-form-input" name="q" value="{SEARCH_TERMS}" placeholder="Titre, auteur, mot-clé, ISBN...">
            <button type="submit" class="btn btn-primary search-form-button">Rechercher</button>
          </form>
        </header>

        <nav id="menu" class="container">
            <ul class="nav navbar-nav">
				<li><a href="/financement/tyst-de-luvan">Financement participatif</a></li>
                <li><a href="/rayon/catalogue">Catalogue</a></li>
                <li><a href="/rayon/numerique">Numérique</a></li>
                <li><a href="https://www.scylla.fr/">Librairie</a></li>
                <li><a href="/contact/">Contact</a></li>
                <li id="myCart">{cart_oneline}</li>
            </ul>
        </nav>
        <section id="main" class="container">
            {PAGE_CONTENT}
        </section>
        <footer id="footer" class="container hidden-print">
            <a href="https://www.biblys.fr/"><img src="/assets/images/propulse-par-biblys.png" alt="Propulsé par Biblys"></a>
        </footer>

        {AXYS_MENU}
        {JS_CALLS}
	</body>
</html>
