<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" type="image/x-icon" href="/scylla_ed/img/favicon.ico">
    <title>
      {% set titleBlock = block("title") %}
      {% if titleBlock is not empty %}
        {% block title %}{% endblock %} |
      {% endif %}
      {{ app.site.title }}
    </title>

    {# biblys assets #}
    {% include "layout:_assets_css.html.twig" %}

    <link rel="stylesheet" href="/theme/styles.css?{{ app.site.getOpt('assets_version') }}"/>

    {% include "layout:_analytics.html.twig" %}

    {{ app.metaTags|raw }}
  </head>
  <body>
    {% include "layout:_overall_menu.html.twig" %}
    {% include "layout:_flash_messages.html.twig" %}
    <header id="header" class="container d-print-none">
      <a href="/"><img src="/theme/logo-horizontal.jpg" alt="Éditions Scylla"></a>
      <form class="header-search-form" action="/articles/search">
        <input type="search" class="form-control search-form-input" name="q" placeholder="Titre, auteur, mot-clé, ISBN...">
        <button type="submit" class="btn btn-primary search-form-button">Rechercher</button>
      </form>
    </header>

    <nav id="menu" class="container navbar navbar-expand-lg navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/financement/derriere-le-grillage-1">Financement participatif</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/rayon/catalogue">Catalogue</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/rayon/numerique">Numérique</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="https://www.scylla.fr/">Librairie</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/contact/">Contact</a>
          </li>
        </ul>

        <div class="nav-item" id="myCart">{{ cart_status()|raw }}</div>
      </div>
    </nav>

    <section id="main" class="container">
      {% block main %}{% endblock %}
    </section>
    <footer id="footer" class="container footer-credits">
      propulsé par <a href="https://biblys.org/">biblys</a> · logiciel libre
    </footer>

    {% include "layout:_assets_js.html.twig" %}
  </body>
</html>
